<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Exclude server.js from rewrite to prevent 500 errors -->
        <rule name="ExcludeServerJS" stopProcessing="true">
          <match url="^server\.js$" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="ExcludeAuth" stopProcessing="true">
          <match url="^\.auth($|/)" ignoreCase="true" />
          <action type="None" />
        </rule>
        <!-- Exclude static files from rewrite -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^.+\.(js|css|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|map|html)$" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/[^.]+$" />
            <add input="{REQUEST_URI}" pattern="^/\.auth/" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
  <iisnode loggingEnabled="true" devErrorsEnabled="true" logDirectory="D:\home\LogFiles\iisnode" />
  </system.webServer>
</configuration>
